@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --branco: #ffffff;
    --cinza: #656566;
    --verde: #76b900;
    --preto_claro: #181819;
    --preto: #000000;
    --font_Raleway: 'Raleaway',sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}

body , html {
    width: 100vw;
    color: white;
    background-color: #000000;
    
}



html {
    color: black;
    font-size: 1em;
    
}

header {
    width: 100vw;
    height: 110vh;
    background-color: aqua;
    
}

#titulo {
    display: inline-block;
    width: 80vw;
    background-color: #35f605;
    margin-top: 120px;
    margin-left: 60px;
    font-size: 1.7em;
    font-family: var(--font-nunito);
    
}

#nav1 {
    width: 100vw;
    height: 90px;
    background-color: azure;
    color: black;
    
}


#nav1 > p {
    margin: 20px 0px 20px 10px;
    font-size: 2em;
    display: inline-block;
}

/* #nav2 {
    
    background-color: black;
    width: 350px;
    height: 1000px;
    float:right;
    text-align: center;
    
} */

#img1 {
    width: 400px;
    margin: auto;
    display: block;
}

#menu {
    display: block;
    list-style: none;
    margin-top: 160px;

}

#menu > li {
    margin-bottom: 30px;
}

#menu  a {
    text-decoration: none;
    color: white;
    
}


main{
    background-color: black;
    width: 100vw;
}

#oq_faz {
    width: 100vw;
    height: 100vh;
    background-color: brown;
    text-align: left;
    
}
#oq_faz > p {
    margin-left: 30px;
    display: block;
    border-collapse: separate;
    
}
#oq_faz > hr {
    width: 92vw;
    margin: 10px 0px 40px 30px;
    border: 0.5px solid black;
}

#func {
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;

}

.titulo1 {
    font-size: 2em;
    margin-left: 20px;
    margin-bottom: -73px;
}
#conteudo_func {
    background-color: aqua;
    height: 80vh;
    width: 80vw;
    margin-left: 50px;
    margin-top: -30px;
}
#linha {
    background-color: #ffffff;
    height: 460px;
    width: 80vw;
    
    border-left: 4px solid black;
    margin-top: 120px;
    margin-left: 50px;
    
}
.titulo_func {
    background-color: red;
    height: 50px;
    margin-top: -160px;
}   
#tampao {
    background-color: purple;
    width: 10px;
    height: 20px;
} 

.explicacao {
    background-color: deeppink;
    height: 50px;
    width: 67vw;
    margin-left: 80px;
    margin-bottom: 60px;
    border-radius: 5px;
}

.explicacao > p {
    margin-left: 7px;
    padding-right: 7px;
    
}
#explicacao_1 {
    margin-top: 5px;
    margin-bottom: 60px;
    
}

.circulo {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    margin-left: 28px;
}
.circulo > p {
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
}
.text_titulo {
    background-color: darkorange;
    font-size: 1.5em;
    width: 200px;
    margin-top: -30px;
    margin-left: 60px;
}
#portifolio {
    width: 100vw;
    height: 100vh;
    background-color: rgb(118, 54, 202);
}
#titulo_port {
    display: block;
    font-size: 2em;
    margin-left: 10vw;
    margin-top: 20px;
    margin-bottom: -30px;
}
.port_div {
    background-color: red;
    width: 75vw;
    height: 210px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}
.port_div > hr {
    background-color: #000000;
    border: 0.5px solid black;
    

}
.nome_port {
    font-size: 2em;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 22vh;
    background-color: rgb(255, 255, 0);
    color: black;
}
footer > hr {
    background-color: #000000;
    border: 0.5px solid black;
    width: 100px;
    margin: auto;
}
.icon_div {
    display: inline-block;
}
.rede_icone {
    width: 20px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-bottom: 5px;
}

#logo {
    color: black;
    font-size: 2em;
    text-align: center; 
    margin-bottom: 7px;  
    margin-top: -10px;
    
}
#seta_div {
    display: inline-block;
    padding-left: 20px;
}
#seta {
    margin-top: -40px;
    width: 30px;
    float: right;
    margin-right: 40px;
}
#copr {
    margin-top: 8px;
    text-align: center;
}

.titulos1 {
    font-size: 2.2em;
    font-family: var(--font-nunito);
    margin-bottom: 50px;
    
}
.sub_titulos {
    font-size: 1.2em;
    font-family: var(--font_Raleway);
    margin-bottom: 5px;
    margin-top: 10px;
}

.texto1 {
    padding-left: 50px;
}
.texto2{
    padding-left: 50px;
}

