@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --branco: #ffffff;
    --cinza: #656566;
    --verde: #76b900;
    --preto_claro: #181819;
    --preto: #000000;
    --font_Raleway: 'Raleaway',sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}

body , html {
    width: 100vw;
    color: white;
    background-color: #000000;
    scroll-behavior: smooth;
    font-size: 1em;
    color: black;
    font-family: var(--font_Raleway);
}

header {
    width: 100vw;
    height: 900px;
    background-color: aqua;
    
}

.titulo3 {
    
}

.titulo3 > a {
    text-decoration: none;
    color: black;
}
#titulo {
    width: 80vw;
    background-color: #35f605;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 1.7em;
    padding: 15px 15px 15px 15px;
    padding-left: 15px;  
    padding-right: 15px;
    border-radius: 20px;
}
#titulo:hover {
    background-color: var(--preto_claro);
}

#nav1 {
    width: 100vw;
    height: 70px;
    background-color: azure;
    color: black;
    
}

#nav1 > p {
    margin: 5px 0px 20px 20px;
    font-size: 3em;
    display: inline-block;
    
}

#img1 {
    width: 400px;
    margin: auto;
    display: block;
    
}
.contato {
    background-color:var(--verde);
    font-size: 1.3em;
    height: 30px;
    width: 140px;
    border-radius: 20px;
    padding-left: 13px;
    padding-top: 8px;
    padding-bottom: 3px;
    margin-left: 30px;
    margin-top: 30px;
    color: var(--preto); 
}
.contato:hover {
    background-color: #35f605;
}
.link_whats {
    text-decoration: none;
}
#whatsapp {
    width: 50px;
    position:fixed;
    width:60px;height:60px;
    bottom:40px;
    right:40px;
    border-radius: 50%;
    background-color: #76b900;
    box-shadow: 1px 1px 2px rgba(8, 8, 8, 0.373);
    cursor: pointer;
    
}
#whatsapp:hover {

}
#contato_1{
    margin-top: 20px;
    margin-left: 13vw;
    width: 130px;
    text-align: center;
    padding-right: 7px;

}
#contato_2 {
    width: 170px;
    margin-top: -38px;
}

main{
    background-color: black;
    width: 100vw;
}

#oq_faz {
    width: 100vw;
    height: 850px;
    background-color: brown;
    text-align: left;
    
}
#oq_faz > p {
    margin-left: 30px;
    display: block;
    border-collapse: separate;
    
}
#oq_faz > hr {
    width: 92vw;
    margin: 10px 0px 40px 30px;
    border: 0.5px solid black;
}

#func {
    width: 100vw;
    height: 800px;
    background-color: greenyellow;

}

.titulo1 {
    font-size: 2.2em;
    margin-left: 20px;
    margin-bottom: -73px;
    
}
#conteudo_func {
    background-color: aqua;
    height: 80vh;
    width: 80vw;
    margin-left: 50px;
    margin-top: -30px;
}
#linha {
    background-color: #ffffff;
    height: 460px;
    width: 80vw;
    
    border-left: 4px solid black;
    margin-top: 120px;
    margin-left: 50px;
    
}
.titulo_func {
    background-color: rgb(255, 0, 0);
    height: 50px;
    margin-top: -160px;
}   

#tampao {
    background-color: purple;
    width: 10px;
    height: 20px;
} 

.explicacao {
    background-color: deeppink;
    height: 50px;
    width: 67vw;
    margin-left: 80px;
    margin-bottom: 60px;
    border-radius: 5px;
}

.explicacao > p {
    margin-left: 7px;
    padding-right: 7px;
    
}
#explicacao_1 {
    margin-top: 5px;
    margin-bottom: 60px;
    
}

.circulo {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    margin-left: 28px;
}
.circulo:hover {
    background-color: aqua;
}
.circulo > p {
    font-size: 2em;
    text-align: center;
    padding-top: 7px;
}
.text_titulo {
    background-color: darkorange;
    font-size: 1.5em;
    width: 200px;
    margin-top: -30px;
    margin-left: 60px;
}
.text_titulo:hover {
    color: greenyellow;
}

#portifolio {
    width: 100vw;
    height: 800px;
    background-color: rgb(118, 54, 202);
}
#titulo_port {
    display: block;
    font-size: 2.2em;
    margin-left: 10vw;
    margin-top: 20px;
    margin-bottom: -30px;
}
.port_div {
    background-color: red;
    width: 75vw;
    height: 210px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}
.port_div:hover {
    border: 1px solid black;
}
.port_div > hr {
    background-color: #000000;
    border: 0.5px solid black;
    

}
.nome_port {
    font-size: 2em;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 0);
    color: black;
}
footer > hr {
    background-color: #000000;
    border: 0.5px solid black;
    width: 100px;
    margin: auto;
    margin-bottom: -30px;
}
footer > a {
    text-decoration: none;

}
.icon_div {
    display: inline-block;
}

.rede_icone {
    width: 30px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: -40px;
}

#logo {
    color: black;
    font-size: 2em;
    text-align: center; 
    margin-bottom: 7px;  
    margin-top: -10px;
    
}
#seta_div {
    display: inline-block;
    padding-left: 20px;
}
#seta {
    margin-top: -46px;
    width: 30px;
    float: right;
    margin-right: 40px;
    background-color: #76b900;
    border-radius: 50%;
}
#seta:hover {
    background-color: #05f621;
}
#copr {
    margin-top: -30px;
    text-align: center;
    margin: auto;
}

.titulos1 {
    font-size: 2.2em;
    margin-bottom: 50px;
    
}
.sub_titulos {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: khaki;
    padding-left: 10px;
    border-radius: 20px;
    width: 170px;
}
#sub_titulo_1 {
    width: 150px;
}
#sub_titulo_2 {
    width: 125px;
}
.sub_titulos:hover  {
    background-color: #35f605;
}

.texto2{
    padding-left: 50px;
    width: 70vw;
    text-align: justify;
}